/* Footer */
.footer-section {
  background-color: #121c33;
  padding: 30px 20px;
  color: #007bff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.footer-column {
  flex: 1 1 30%; 
  margin: 10px;
  min-width: 200px; 
}

.footer-column a {
  display: block;
  color: #007bff;
  margin: 10px 0;
}

/* Quick Feedback Section */
.quick-feedback input,
.quick-feedback textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.quick-feedback button {
  float: right;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  color: #007bff;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .footer-column {
    flex: 1 1 100%; 
    margin: 10px 0; 
  }
}
.footer-section .social-links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.footer-section .social-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: rgb(239, 228, 228);
  font-size: 16px;
}

.footer-section .social-icon i {
  font-size: 20px;
  color: #3b5998;
}

.footer-section .social-icon:hover i {
  color: #efeff0;
}
.footer-section .info-links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.footer-section .info-link {
  text-decoration: none;
  color: rgb(247, 247, 247);
  font-size: 16px;
}

.footer-section .info-link:hover {
  color: #007bff;
}
.footer-section .auth-links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.footer-section .auth-link {
  text-decoration: none;
  color: rgb(248, 248, 248);
  font-size: 16px;
}

.footer-section .auth-link:hover {
  color: #007bff;
}
.footer-section .contact-info p {
  color: white;
}